header{
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    height: 80px;
    z-index: 1;
    padding-right: 120px;
    padding-left: 120px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    a{  margin-left: 30px;
        text-decoration: none;
        color: white;
        font-weight: 700;

        &:hover{
            color: darkgray;
        }
    }

    img{
        height: 70px;
        cursor: pointer;
    }   
}

    .darkLinks{
        a{
            color: black;

            &:hover{
                color: rgba(0,0,0,0.8);
            }
        }
    }


.headerDark{
    background-color: white;
    box-shadow: 0px 1px 3px 0 rgba(0,0,0,0.2);
}   